@font-face {
    font-family: 'IRANSans';
    src: url('./../../../asset/font/IRANSans\(FaNum\).ttf') format('truetype');
}

.container {
    height: 387.891px;
    z-index: 10;
    padding: 48px 0 0px;
    background: linear-gradient(121.9deg,#07a68d 0,#08b89d 100%);
    box-shadow: 0 10px 16px #03213314;
    border-radius: 0 0 42px 42px;
}

.container .sectionInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.container .sectionInfo h1 {
    font-size: 23px;
    font-weight: 700;
    line-height: 1.69;
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
}

.container .sectionInfo .contact {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 20px;
    color: #fff;
    letter-spacing: normal;
    word-spacing: 2px;
    font-weight: 300;
    line-height: 10px;
    height: 18px;
}


.container .sectionInfo .contact .contactType {
    margin-left: 85px;
    margin-right: 10px;
    display: flex;
}

.container .sectionInfo .contact .lastChild {
    display: inline-block;
    transform: translateX(75px);
}

.container .sectionInfo p:last-child {
    margin-bottom: 25px;
}

.container .sectionInfo p:last-child a {
    font-size: 18px;
    color: #fff;
}

.container .sectionInfo p:last-child a:hover {
    text-decoration: none;
}

.container .searchInput {
    display: flex;
    justify-content: center;
    margin: 0 30px;
}

.container .lastConsultation {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin: 40px 0;
}

.container div.lastConsultation .time {
    background-color: rgba(29,145,145,.41);
    padding: 6px 10px;
    margin: 0 0 8px 8px;
    height: 40px;
    border: 1px dashed #fff;
    border-radius: 0 50px 50px 0;
}

.container div.lastConsultation .lastText {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container div.lastConsultation .lastText span:last-child {
    font-weight: bold;
    font-size: 14px;
}

@media (max-width: 767px) {
    .container {
        padding: 48px 0 40px;
    }

    .container .lastConsultation {
        flex-direction: column;
        margin: 40px 0 140px ;
    }    
}