 /* @font-face {
  font-family: 'IRANSans';
  src: url('./../../asset/font/IRANSans\(FaNum\).ttf') format('truetype');
} */


.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: linear-gradient(119deg,#065482,#00c395);
}
 

.container .bottomSection {
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding:20px;
}

