.container {
    background-color: #fff;
    z-index: 9;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 0 -7px 20px 0 rgba(0,0,0,.05);
    padding-bottom: 55px;
    font-size: 14px;
    line-height: 1.8em;
    width: 100%;
    position: absolute;
    bottom: 60px;
    left: 0px;
}

