.container {
    height: 387.891px;
    z-index: 10;
    padding: 48px 0 0px;
    background: linear-gradient(121.9deg,#07a68d 0,#08b89d 100%);
    box-shadow: 0 10px 16px #03213314;
    border-radius: 0 0 42px 42px;
    margin-bottom: 40px;
}

@media (max-width: 767px) {
    .container {
        padding: 48px 0 40px;
    }  
}